---
import Layout from '@layouts/Common.astro'

import {Icon} from 'astro-icon/components'

import checkmark from '@icons/checkmark.svg'
import avatarJason from '@images/avatar_jason_3d.png'
import avatarBarbara from '@images/avatar_barbara_3d.png'
import avatarHarry from '@images/avatar_harry_3d.png'
import step1 from '@images/step_1.png'
import step2 from '@images/step_2.png'
import step3 from '@images/step_3.png'
---

<Layout>
  <section class="split-3">
    <header>
      <h2>Problem section headline that bluntly brings up the main pain point.</h2>
    </header>
    <p>Then agitate the problem with the symptoms of it.</p>
    <ul class="mt-4 list-none space-y-2">
      <li
        class="relative pl-5 before:absolute before:left-0 before:text-green-600 before:content-['✔']"
      >
        Recognizable symptom 1&mdash;Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
        repellat eius sunt non, vitae sit?
      </li>
      <li
        class="relative pl-5 before:absolute before:left-0 before:text-green-600 before:content-['✔']"
      >
        Recognizable symptom 1&mdash;Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
        repellat eius sunt non, vitae sit?
      </li>
      <li
        class="relative pl-5 before:absolute before:left-0 before:text-green-600 before:content-['✔']"
      >
        Recognizable symptom 1&mdash;Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
        repellat eius sunt non, vitae sit?
      </li>
    </ul>
  </section>
  <section class="split-2">
    <div class="item">
      <header>
        <h2>Introduce the Solution</h2>
      </header>
      <p>Lead-in with a short statement about how you get it.</p>
      <p>
        Short paragraph where you show understanding of their pain. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Sed adipisci nisi exercitationem optio iusto repellat
        recusandae a quasi repellendus id.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam excepturi explicabo
        consectetur ea fuga sunt!
      </p>
      <p>
        Short paragraph where you show why you're qualified to help them through it. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Iure reprehenderit unde optio, laboriosam
        alias similique provident aperiam enim incidunt facilis.
      </p>
      <p>End with a statement about how you can do the same thing for them.</p>
    </div>
    <div class="item">
      <img src="https://placehold.co/450x500/png" alt="" />
    </div>
  </section>
  <section class="split-3 bg-neutral-lo text-center">
    <header class="mx-auto max-w-2xl">
      <h2>Introduce the Benefits</h2>
    </header>
    <p class="mx-auto max-w-3xl text-pretty">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ratione minima suscipit
      eveniet voluptatum aliquid rerum, saepe vel impedit placeat? Dolorem, repudiandae sint fugiat
      possimus illum obcaecati dolor incidunt esse voluptas necessitatibus ad.
    </p>
    <div class="grid grid-cols-1 items-stretch justify-center gap-4 md:grid-cols-3">
      <article class="tile p-8">
        <header>
          <h3>Benefit One</h3>
        </header>
        <p>Briefly mention <strong>the feature behind the benefit</strong> to tie it together.</p>
      </article>
      <article class="tile p-8">
        <header>
          <h3>Benefit Two</h3>
        </header>
        <p>Briefly mention <strong>the feature behind the benefit</strong> to tie it together.</p>
      </article>
      <article class="tile p-8">
        <header>
          <h3>Benefit Three</h3>
        </header>
        <p>Briefly mention <strong>the feature behind the benefit</strong> to tie it together.</p>
      </article>
    </div>
  </section>
  <section class="split-3 breakout text-center">
    <header>
      <h2>Testimonials</h2>
    </header>
    <p>But don't just take our word for it. Hear what our satisfied customers have to say.</p>
    <ul class="wrap grid-rows-[repeat(3,_auto)] gap-y-3">
      <li
        class="tile border-neutral-lo row-span-3 grid grid-rows-subgrid justify-items-center rounded-2xl border p-8 py-6"
      >
        <img src={avatarJason.src} alt="Jason Mark" class="size-25 rounded-full" />
        <p>
          Overcomes a common objection. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Dignissimos, consequuntur recusandae? Officia.
        </p>
        <p class="text-sm">Jason Mark</p>
      </li>
      <li
        class="tile border-neutral-lo row-span-3 grid grid-rows-subgrid justify-items-center rounded-2xl border p-8 py-6"
      >
        <img src={avatarBarbara.src} alt="Barbara Simmons" class="size-25 rounded-full" />
        <p>
          Talks about a solved pain point. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Dignissimos, consequuntur recusandae? Officia.
        </p>
        <p class="text-sm">Barbara Simmons</p>
      </li>
      <li
        class="tile border-neutral-lo row-span-3 grid grid-rows-subgrid justify-items-center rounded-2xl border p-8 py-6"
      >
        <img src={avatarHarry.src} alt="Harry O'Donnell" class="size-25 rounded-full" />
        <p>
          Dream outcome achieved. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Dignissimos, consequuntur recusandae? Officia.
        </p>
        <p class="text-sm">Harry O'Donnell</p>
      </li>
    </ul>
  </section>
  <section class="split-3 breakout bg-base-lo text-center">
    <header>
      <h2>3 Simple Steps</h2>
    </header>
    <ul class="wrap grid-rows-[repeat(3,_auto)] gap-y-3">
      <li class="tile row-span-3 grid grid-rows-subgrid justify-items-center py-6">
        <img src={step1.src} alt="Always Your CTA" class="size-25 rounded-xl" />
        <h3>Step 1: Always Your CTA</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, repellat sint.</p>
      </li>
      <li class="tile row-span-3 grid grid-rows-subgrid justify-items-center py-6">
        <img src={step2.src} alt="The Actual Work" class="size-25 rounded-xl" />
        <h3>Step 2: The Actual Work</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, repellat sint.</p>
      </li>
      <li class="tile row-span-3 grid grid-rows-subgrid justify-items-center py-6">
        <img src={step3.src} alt="The 'Happy After'" class="size-25 rounded-xl" />
        <h3>Step 3: The 'Happy After'</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, repellat sint.</p>
      </li>
    </ul>
  </section>
  <section class="split-3">
    <header class="text-center"><h2>Features</h2></header>
    <ul class="wrap">
      <li class="px-2 py-4">
        <heading><h3>Feature One</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Two</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Three</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Four</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Five</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Six</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Seven</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Eight</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Nine</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Ten</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Eleven</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
      <li class="px-2 py-4">
        <heading><h3>Feature Twelve</h3></heading>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum consequatur
          officiis blanditiis!
        </p>
      </li>
    </ul>
  </section>
  <section>
    <header><h2>Frequently Asked Questions</h2></header>
    <dl class="space-y-4">
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
      <div>
        <dt class="font-bold">What is Lorem ipsum?</dt>
        <dd>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, consequuntur
          recusandae? Officia.
        </dd>
      </div>
    </dl>
  </section>
  <section class="bg-accent-hi text-accent-on text-center">
    <header>
      <h2>If you're ready to [insert dream outcome], we can help!</h2>
    </header>
    <p>
      Try using our templates to quickly create professional pages without starting from scratch.
      Save time, stay consistent, and customize designs to fit your brand perfectly.
    </p>
    <a href="#" class="btn mx-auto mt-4">Specific CTA emphasizing what happens next</a>
  </section>
</Layout>
